/* Your styles here */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

body {
  background-color: #e9edee;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 550;
}

main {
  width: 95%;
  margin: 0 auto;
}

#logo {
  width: 8em;
  padding: 0.5em 0 0.9em 1em;
}

.nav-menu {
  margin-left: 1.5em;
}

.nav-menu li {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em 0;
}

.nav-menu li a {
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
}

/* AGGIUNGERE ALTRI ELEMENTI IN BIANCO */
a,
h3,
h2,
h1 {
  text-decoration: none;
  color: #e0f4f2;
}

.text-center {
  text-align: center;
}
.bg-dark {
  background-color: #222f3f;
  width: 100%;
}

.bg-lightgray {
  background-color: #364757;
}

.blue-atag {
  color: #226369;
  font-size: 0.9em;
}

.banner-img {
  width: 100%;
}

.discount {
  background-color: #f56502;
  margin: 1.5em 0;
}

.discount > h3 {
  padding: 0.7em;
  font-size: 0.9em;
  font-weight: 500;
}

/* MODIFICAREEEEEEEEEEEEEE SI MUOVE CON LA PAGINA */
.holiday {
  background-image: url(../images/bg-image.png);
  background-size: cover;
  background-size: 100%;
}

.holiday > h1 {
  padding: 2.5em 0 1em 0;
  font-size: 1.6em;
}

.holiday > h2 {
  padding: 0 0 2.3em 0;
}

/* WORKING ON CARDS */

.I {
  background-image: url(../images/img_1.jpg);
}

.II {
  background-image: url(../images/img_2.jpg);
}

.III {
  background-image: url(../images/img_3.jpg);
}
.IV {
  background-image: url(../images/img_4.jpg);
}

.cards-container {
  margin: 2em 0;
  background-color: white;
  padding-bottom: 1em;
}

.text-left {
  text-align: left;
}

.text-left > a {
  display: inline-block;
  padding: 1em 0;
}

.text-left > p {
  padding: 1em;
  display: inline-block;
}

.card {
  display: inline-block;
  width: 13em;
  height: 17em;
  background-size: cover;
  background-position: center; /* Centra l'immagine all'interno del contenitore */
  margin-right: 10px;
  border-radius: 7%;
  cursor: pointer;
}

.banner-text > p,
a {
  display: inline-block;
  padding-top: 0.4em;
}

.banner-text > p {
  padding-right: 0.6em;
}

.banner-container {
  margin-bottom: 2em;
}

/* FOOTER */

#redirect-top {
  padding: 1em;
  text-decoration: underline;
}

footer > .bg-dark > img {
  width: 10em;
  padding: 3em;
}
